{% extends 'foundation.html' %}
{% block admincontent %}
<div class="dashboard-wrapper appointment-sec">
<div class="title">
  <h2 class="section--title" style="text-align: center">Appointment Clearance</h2>

</div>
<table id="thtable" class="table appointment-teble">
      
  <tr>

    <th>User</th>
    <th>Request Status</th>
   
    <th>Level</th>


    <th>Detail</th>


  </tr>

<tbody>
  {% for obj in objs %}

  <tr>
    <th >{{obj.r_user}}</th>
    <th>{{obj.final_status}}</th>

    <td>{{obj.clearance_level}}</td>


    <td>
      <a href="{% url 'showfullrequest' obj.id %}" class="add" style="width: 100px">Show All Details</a>
    </td>


  </tr>
  {% endfor %}

</tbody>
</table>
</div>

{% endblock admincontent %}